<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527579718873-o2k9rembh5jucm0v94reeutocmh4a6t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527579718873-o2k9rembh5jucm0v94reeutocmh4a6t8</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ZfBC0Zc7RVm8-FXnCRI0D60-W3wl9f0</string>
	<key>GCM_SENDER_ID</key>
	<string>527579718873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Insight.ColorApp</string>
	<key>PROJECT_ID</key>
	<string>color-game-c7a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>color-game-c7a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527579718873:ios:d15dd7b2533361f89b4ac8</string>
	<key>DATABASE_URL</key>
	<string>https://color-game-c7a6a.firebaseio.com</string>
</dict>
</plist>